# Gemini API Configuration
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Application URL
APP_URL=http://localhost:5173

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# Notification Email
ADMIN_NOTIFICATION_EMAIL=your-email@example.com
